.services {
    ion-col {
        border-radius: 1px;
        border: solid 1px;
        height: 80px;
        box-shadow: 4px 4px;
        margin: 10px;
    }
    .text {
        padding-top: 10px;
        padding-left: 10px;
    }
}

.services-header {
    text-align: center;
}