<ion-header>
  <ion-toolbar>
    <ion-title>
      शारदामाई पतसंस्था
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mr. Yuvraj Mugutrao Gawade</ion-card-title>
      <ion-card-subtitle>Account No. 1234567890</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Ionic framework is an open-source UI toolkit for building performant, high-quality mobile apps, desktop apps, and progressive web apps using web technologies such as HTML, CSS, and JavaScript.  
    </ion-card-content> -->
  </ion-card>

  <ion-header>
    <ion-toolbar>
      <ion-title class="services-header">
        Our Services
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-grid class="services">
      <ion-row>
        <ion-col class="text">My FD</ion-col>
        <ion-col class="text">My RD</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text">My Loan</ion-col>
        <ion-col class="text">My Saving Account</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>